<ion-content id="body" class="content" ng-controller="socialShareController" >
    <section id="stats-medal">
        <img src="img/medal.png">
        <p id="stats-medal-overlay">{{owner.statusAllTime.medal}}</p>
        <p class="stats-text">{{owner.statusAllTime.story}}</p>
    </section>
    <div class="list" id="user-stats">
        <a class="item item-icon-left">
            <img src="img/bier-afb.png" class="beer icon">
            <p>{{owner.statusAllTime.literBeer | number:2}} l</p>
        </a>
        <a class="item item-icon-left">
            <img src="img/bier-afb.png" class="beer icon">
            <p>{{owner.statusAllTime.beer}}x</p>
        </a>
        <a class="item item-icon-left">
            <img src="img/tipsy.png" class="tipsy icon">
            <p>{{owner.statusAllTime.tipsy}}h</p>
        </a>
        <a class="item item-icon-left">
            <img src="img/drunk.png" class="drunk icon">
            <p>{{owner.statusAllTime.drunk}}h</p>
        </a>
    </div>
    <div class="item item-text-wrap social-share">
        <h2>Shares</h2>
        <div class="button-bar">
            <a class="button button-calm" ng-click="twitterShare()"> <i class="icon ion-social-twitter"></i></a>
            <a class="button button-balanced" ng-click="whatsAppShare()"> <i class="icon ion-social-whatsapp"></i></a>
        </div>
    </div>
</ion-content>