<ion-pane>
    <section id="standBody">
        <ion-content id="body" class="content" ng-controller="standController">
            <section id="stand-hearth">
                <div class="holder">
                    <i class="icon ion-ios-heart"></i>
                </div>
                <h4 class="title">Situation</h4>
            </section>
            <div class="list" id="stand">
                <div class="item item-icon-left">
                    <i class="icon ion-ios-flask"></i>
                    <section class="holder">
                        <p class="explanation">Promillage:</p>
                        <p class="value">{{owner.promile | number:4}}</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <img src="img/tipsy.png" class="tipsy icon">
                    <section class="holder">
                        <p class="explanation">Tipsy:</p>
                        <p class="value">{{owner.tipsyPercentage | number:0}}%</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <img src="img/drunk.png" class="drunk icon">
                    <section class="holder">
                        <p class="explanation">Drunk:</p>
                        <p class="value">{{owner.drunkPercentage | number:0}}%</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-android-car"></i>
                    <section class="holder">
                        <p class="explanation">Can you drive:</p>
                        <p class="value">{{owner.canDrive}}</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-social-euro"></i>
                    <section class="holder">
                        <p class="explanation">Fine if you drive:</p>
                        <p class="value smallerText">{{owner.driveTicket}}</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-beer"></i>
                    <section class="holder">
                        <p class="explanation">Liter Beer:</p>
                        <p class="value">{{owner.mililiterBeer | number:1}}</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-heart"></i>
                    <section class="holder">
                        <p class="explanation">Till processed</p>
                        <p class="value">{{owner.liverProces}} min.</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-android-bicycle"></i>
                    <section class="holder">
                        <p class="explanation">Can you ride a bike</p>
                        <p class="value smallerText">{{owner.canBike}}</p>
                    </section>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-android-walk"></i>
                    <section class="holder">
                        <p class="explanation">Can you walk</p>
                        <p class="value smallerText">{{owner.canWalk}}</p>
                    </section>
                </div>
            </div>
            <section id="stand-dev-buttons">
                <button class="button button-block button-dark" ng-click="resetPromille()">
                    Reset alcohol to 0
                </button>
                <button class="button button-block button-dark" ng-click="resetAll()">
                    Reset drinking problem
                </button>
            </section>
        </ion-content>
    </section>
</ion-pane>