<ion-pane>
    <ion-content id="body" >
        <section id="beer-home-action">
            <img ng-click="addBeerToday()" src="img/bier-icon-rond.png"/>
        </section>
        <section id="loading-bar">
            <h2>Beer xp {{owner.beerXP}}</h2>
            <div class="meter">
                <span ng-style="progressBar"></span>
            </div>
        </section>
        <section id="beer-home-content">
            <h4>{{ owner.beerToday }} Beer</h4>
            <h4>{{ owner.statusToday }}</h4>
        </section>
    </ion-content>
</ion-pane>
