/* --------  GLOBAL --------  */
#body {
    background-image: url("../img/wood.jpg");
}

.content {
    padding: 0 40px;
}

h1, h2, h3, h4, h5 {
    color: white;
}

/* -------- NAVIGATION --------- */
.tabs-icon-top {
    height: 65px;
    border-top-color: black;
}

.tab-item {
    background-image: url("../img/wood.jpg");
    background-repeat: no-repeat;
    padding-top: 8px;
    color: white;
    opacity: 0.9;
}

a.tab-item.active {
    margin-top: -3px;
    height: 68px;
    border-top: solid white 5px;
}

.button-block.active {
    background-color: black;
}

.home:before {
    content: "\f0fc";
}

.currentStats:before {
    content: '\f21e';
}

.alltimeStats:before {
    content: "\f2be";
}

/* ---------- GAME --------- */
#gameOverlay {
    background-image: url("../img/wood.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

canvas {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-left: solid white 1px;
    border-right: solid white 1px;
}

/* --------  HOME --------  */
#beer-home-content {
    margin-top: 40px;
    text-align: center;
}

#beer-home-content h1 {
    color: white;
    font-size: 60px;
}

#beer-home-content h2 {
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

#beer-home-action {
    margin-top: 40px;
}

#loading-bar {
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

#beer-home-action img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    max-width: 400px;
}

/* --------  ALL TIME STATS --------  */
.social-share {
    margin-bottom: 90px;
    border: none;
    background-color: rgba(86, 86, 86, 0.4);
    text-align: center;
}

.button-bar {
    margin-top: 10px;
}

#stats-medal {
    margin-top: 40px;
    text-align: center;
}

#stats-medal-overlay {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 100;
    font-size: 16px;
    color: white;
}

#stats-medal img {
    margin: 0 auto;
    width: 85%;
    height: auto;
    max-width: 400px;
    position: relative;
}

.stats-text {
    margin-top: 20px;
    color: #484743;
    margin-bottom: 15px;
}

#user-stats {
    width: 200px;
    margin: 0 auto;
}

.item p {
    font-size: 25px;
    overflow: visible;
    padding-top: 5px;
    color: black;
    margin-left: 60px;

}

#user-stats hr {
    border: 0;
    height: 1px;
    background: #333;
}

#user-stats .item {
    background-color: inherit;
    border: none;
    height: 80px;
}

#user-stats img.beer {
    margin-left: 15px;
    padding-top: 7px;
    width: 50px;
    height: auto;
}

#user-stats img.tipsy {
    margin-left: 15px;
    width: 45px;
    height: auto;
}

#user-stats img.drunk {
    padding-top: 15px;
    width: 90px;
    height: auto;
}

/* --------  STAND --------  */
#stand-hearth {
    height: 120px;
    text-align: center;
    padding-top: 30px;
    background-color: rgba(86, 86, 86, 0.4);
    margin-bottom: 10px;
}

#stand-hearth .holder {
    height: 35px;
}

#stand-hearth .ion-ios-heart {
    color: white !important;
    animation: heartBeat 2s ease-in 0s infinite alternate;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

#stand-hearth .title {
    color: white;
}

@keyframes heartBeat {
    0% {
        font-size: 30px;
    }
    50% {
        font-size: 35px;
    }
    100% {
        font-size: 30px;
    }
}

#stand .item {
    background-color: rgba(86, 86, 86, 0.2);
    border: none;
}

#stand i, p {
    color: white !important;
}

#stand .value {
    margin-top: 5px;
}

#stand .holder {
    text-align: center;
    width: 80%;
}

#stand .smallerText {
    font-size: 16px;
}

#stand .explanation {
    font-size: 14px;
    line-height: 18px;
    padding-top: 0px;
    margin-top: 0px;
}

#stand img.tipsy {
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: auto;
}

#stand img.drunk {
    margin-top: 30px;
    width: 70px;
    height: auto;
}

.button-outline.button-positive {
    display: inline-block;
    color: white !important;
    border-color: white !important;
    font-size: 12px;
    margin-right: 5px;
}

#stand-dev-buttons {
    margin-bottom: 150px;
}

.button.button-positive {
    background: inherit;
    background-image: url("../img/wood.jpg") !important;
}

.popup-container .popup-head {
    background: inherit;
    background-image: url("../img/wood.jpg") !important;
}

.popup-container .popup {
}

.popup-container h3 {
    color: white !important;
}

/* ------ PROGRESS BAR -------- */

.meter {
    height: 20px; /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    height: 20px; /* Can be anything */
    display: block;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(43, 194, 83)),
            color-stop(1, rgb(84, 240, 84))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgb(43, 194, 83) 37%,
            rgb(84, 240, 84) 69%
    );
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter > span:after, .animate > span > span {
}

.animate > span:after {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1a165), color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}